<section class="page_view">

    <h1>About</h1>

    <div>
        <p>b. England. Lives and works in Ottawa, Canada.</p>
        <h2>Education</h2>
        <p>
            Coventry University, BA(Hons) Graphic Design, 1996<br>
            Coventry University, Foundation Diploma in Art, 1993
        </p>

        <h2>Exhibitions</h2>
        <dl>
            <!--dt>2020</dt>
            <dd>
                Studio Sixty Six <em>Vanishing Point</em> – Ottawa, Canada
            </dd-->
            <dt>2019</dt>
            <dd>
                AAF Hamburg, artnow Gallery – Hamburg, Germany
            </dd>
            <dd>
                Studio Sixty Six <em>The Onlookers</em> – Ottawa, Canada
            </dd>
            <dd>
                KOREA INTERNATIONAL ART FAIR, Galerie Klose – Seoul, Korea
            </dd>
            <dd>
                Galerie Klose <em>ENTER THE VOID</em> – Essen, Germany
            </dd>
            <dd>
                Studio Sixty Six <em>INTERPLAYS</em> – Ottawa, Canada
            </dd>
            <dt>2018</dt>
            <dd>
                AAF Hamburg, artnow Gallery – Hamburg, Germany
            </dd>
            <dt>2017</dt>
            <dd>
                artnow Gallery <em>UNSEEN Between Worlds</em> – Hamburg, Germany
            </dd>
            <dt>2016</dt>
            <dd>
                Fairfax Gallery <em>Group Show</em> – Tunbridge Wells, UK<br>
            </dd>
            <dt>2015</dt>
            <dd>
                Cameron Contempory <em>Figure</em> – Hove, UK
            </dd>
            <dt>2011</dt>
            <dd>
                Standard Chartered Bank <em>Seeing is Believing</em> – London, UK<br>
                Brighton Art Fair – Brighton, UK
            </dd>
            <dt>2010</dt>
            <dd>
                Brighton Art Fair – Brighton, UK
            </dd>
        </dl>

        <h2>Collections</h2>
        <p>
            Standard Chartered Bank, London, UK<br>
            Carroll Financial Associates, Charlotte, NC
        </p>
        <p><br /></p>

    </div>

</section>
