<section class="page_view">

    <h1>Contact</h1>

    <img ng-pinch-zoom max-scale="2" src="images/Andrew-Beck-Adrift.jpg" style="width:100%;" />

    <p>For all inquiries, including pricing and availability for commissions.</p>
    <p>Email <a href="mailto:andrewbeckart@gmail.com">andrewbeckart@gmail.com</a></p>
    <p>Tel +1 613 400 7915</p>
    <p>&nbsp;</p>
    <p ng-controller="subscribeCtrl">
        <a href="#" ng-click="subscribe($event)">Subscribe to Newsletter</a>
    </p>

</section>
