<section class="page_view">

    <h1>Contact</h1>

    <img src="images/Andrew-Beck-photo-installation.jpg"/>

    <div layout layout-xs="column">
        <div flex>
            <p>For all inquiries, including availability for commissions</p>
            <p>email <a href="mailto:andrewbeckart@gmail.com">andrewbeckart@gmail.com</a></p>
            <p ng-controller="subscribeCtrl">
                <md-button class="md-raised" ng-click="subscribe($event)">Subscribe to Newsletter</md-button>
            </p>
        </div>
        <div flex>
            <p>Represented by</p>
            <p>
                artnow Gallery in Berlin, Germany<br />
                <a href="http://www.artnow-gallery.com/" target="_blank">artnow-gallery.com</a>
            </p>
        </div>
    </div>

</section>
